@CHARSET "UTF-8";
#button {
	margin: 0px;
}

#start {
	width: 30%;
}

#reset {
	width: 30%;
}

#inner {
	width: 100%;
	height: 450px;
	margin:0px;
}

#divpuzzle {
	width: 340px;
	height: 340px;
	margin: 0 auto;
	position: relative;
}

#time {
	height: 50px;
	width: 100px;
	font-size: 40px;
	text-align: center;
	background-image: url(../images/icon_13.gif);
	background-size: 100%;
	border: 0px;
	outline: none;
	float:left;
}

#step {
	height: 50px;
	width: 100px;
	font-size: 40px;
	text-align: center;
	background-image: url(../images/icon_13.gif);
	background-size: 100%;
	border: 0px;
	outline: none;
	float:right;
}

#divpuzzle div.tile {
	margin: 0px 0px 0px 0px;
	width: 25%;
	height: 25%;
	padding: 0px 0;
	float: left;
}

#divpuzzle div.tile0 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_01.gif);
}

#divpuzzle div.tile1 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_02.gif);
}

#divpuzzle div.tile2 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_03.gif);
}

#divpuzzle div.tile3 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_04.gif);
}

#divpuzzle div.tile4 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_05.gif);
}

#divpuzzle div.tile5 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_06.gif);
}

#divpuzzle div.tile6 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_07.gif);
}

#divpuzzle div.tile7 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_08.gif);
}

#divpuzzle div.tile8 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_09.gif);
}

#divpuzzle div.tile9 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_10.gif);
}

#divpuzzle div.tile10 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_11.gif);
}

#divpuzzle div.tile11 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_12.gif);
}

#divpuzzle div.tile12 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_13.gif);
}

#divpuzzle div.tile13 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_14.gif);
}

#divpuzzle div.tile14 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_15.gif);
}

#divpuzzle div.tile15 {
	background-size: 100%;
	background-image: url(../images/pic2/icon_16.gif);
}
